name: Taller CI/CD
run-name: Estamos ejecutando acciones automaticas

on: [push]

jobs: 
  miPrimeraAutomatizacion:
    runs-on: ubuntu-latest
    steps:
      - name: cargar ficheros repos
        uses: actions/checkout@v6
      - name: instalar node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: instalar dependencias
        run: npm install

      - name: test
        run: npx vitest run

      - name: Build
        run: npm run build
      
      - name: deploy
        env:
          PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
          HOST: ${{ vars.EC2_HOST }}
        run: |
          echo "$PRIVATE_KEY" > clave_aws.pem
          chmod 600 clave_aws.pem
          ssh -o StrictHostKeyChecking=no -i clave_aws.pem ubuntu@${HOST} '
            echo "Carpeta actual: $(pwd)"
            ls -la .
            sudo apt update
            sudo apt install apache2 -y
            sudo service apache2 enable
            sudo service apache2 start
            sudo service apache2 status
            mkdir -p ~/appdeploy
          '
          scp -i clave-aws.pem -o StrictHostKeyChecking=no -r ./dist/* ubuntu@${HOST}:~/appdeploy
          ssh -o StrictHostKeyChecking=no -i clave_aws.pem ubuntu@${HOST} '
            sudo mv ~/appdeploy/* /var/www/html
            sudo chown -R www-data:www-data /var/www/html
            sudo service apache2 restart
            sudo rm -rf ~/appdeploy
          '