name: Taller CI/CD
run-name: Estamos ejecutando acciones automaticas

on: [push]

jobs: 
  miPrimeraAutomatizacion:
    runs-on: ubuntu-latest
    steps:
      - name: cargar ficheros repos
        uses: actions/checkout@v6
      - name: instalar node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: instalar dependencias
        run: npm install
      - name: Build
        run: npm run build
      
