name: Taller CI/CD
run-name: Estamos ejecutando acciones automaticas

on: [push]

jobs: 
  miPrimeraAutomatizacion:
    runs-on: ubuntu-latest
    steps:
      - name: cargar ficheros repos
        uses: actions/checkout@v6
      - name: mostrar ficheros
        run: ls -luah .
      
